---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Rio Oktaviansyah, a web developer from Indonesia.
      <br />
      My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>React</li>
        <li>Node JS</li>
        <li>Express JS</li>
        <li>Laravel</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about reading books. Reading not only provides me with a creative escape but also inspires my work by exposing me to new ideas and perspectives.
    </p>
  </div>
</Card>
